<div  style="margin-left:15px;margin-right:15px;">
  <div id="search">
    <div class="download">
      <span id="download-setting" ng-csv="vmmg.getDownloadArray()" filename="{{vmmg.getDownloadFileName()}}"
            lazy-load="true"  csv-column-order="vmmg.getDownloadOrder()" csv-header="vmmg.getHeader()">
        <i class="fa fa-download txt-color-white"  data-placement="bottom" tooltip title="Download"></i>
      </span>
    </div>
    <div class="row">
      <div class="col-md-2">
          <div class="field form-group" style="margin-top: 15px">
            <label ng-show="vmmg.marketsGraphFilters.odcList" class="show-hide">Market</label>
            <div
              isteven-multi-select
              input-model="vmmg.marketsGraphFilters.odcOptions"
              output-model="vmmg.marketsGraphFilters.odcList"
              button-label="label"
              item-label="label"
              tick-property="selected"
              helper-elements=""
              max-labels="1"
              on-item-click="vmmg.updateFCGraph()"
              on-select-all="vmmg.updateFCGraph()"
              on-select-none="vmmg.updateFCGraph()"
              >
            </div>
          </div>
      </div>

      <div class="col-md-2">
        <div class="field form-group" style="margin-top: 15px">
          <label class="show-hide">Cabin</label>
          <div
            isteven-multi-select
            input-model="vmmg.marketsGraphFilters.cabinOptions"
            output-model="vmmg.marketsGraphFilters.cabinList"
            button-label="label"
            item-label="label"
            helper-elements=""
            tick-property="selected"
            max-labels="1"
            on-item-click="vmmg.updateFCGraph()"
            on-select-all="vmmg.updateFCGraph()"
            on-select-none="vmmg.updateFCGraph()"
            >
          </div>
        </div>
      </div>

      <div class="col-md-2">
        <div class="field form-group" style="margin-top: 15px">
          <label ng-show="vmmg.marketsGraphFilters.routeList" class="show-hide">Routing</label>
          <div
            isteven-multi-select
            input-model="vmmg.marketsGraphFilters.routeOptions"
            output-model="vmmg.marketsGraphFilters.routeList"
            button-label="label"
            item-label="label"
            tick-property="selected"
            helper-elements=""
            max-labels="1"
            on-item-click="vmmg.updateFCGraph()"
            on-select-all="vmmg.updateFCGraph()"
            on-select-none="vmmg.updateFCGraph()"
            >
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="field form-group" style="margin-top: 15px">
          <label ng-show="vmmg.marketsGraphFilters.amounts" class="show-hide">Amount</label>
          <div
            isteven-multi-select
            input-model="vmmg.marketsGraphFilters.amountOptions"
            output-model="vmmg.marketsGraphFilters.amounts"
            button-label="name"
            item-label="name"
            helper-elements=""
            tick-property="selected"
            selection-mode="single"
            on-item-click="vmmg.updateFCGraph()"
            on-select-all="vmmg.updateFCGraph()"
            on-select-none="vmmg.updateFCGraph()"
            >
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div  style="margin-top: 15px">
          <a ui-sref="root.tpcalc.result" class="btn btn-w-md btn-gap-v btn-round btn-primary" ga-track-event="['Results Page', 'Clicked', 'Summary View']">Summary View</span>
          </a>
          <a ui-sref="root.tpcalc.FCSelectFromMarketGraphs" class="btn btn-w-md btn-gap-v btn-round btn-primary" ga-track-event="['Results Page', 'Clicked', 'Select Fare Class']">Select Fare Class</span>
          </a>
        </div>
      </div>

    </div>

  </div><!-- end ng-controller-->
</div>

<div id='content-area'>
  <div gridster="vmmg.gridsterOptions" style="" >
    <ul>
      <li gridster-item="widget" ng-repeat="widget in vmmg.marketsDashboardModel.widgets">
        <div class="box" >
          <div>
            <h4 style="text-align:center; color: #fff; background-color: #286090; border-color: #204d74; margin-bottom: 0px;margin-top: 0px;">
              <span style="font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, sans-serif;">{{ widget.name }}</span>
            </h4>
            <div class="box-header-btns pull-right">
              <!--<a title="settings" ng-click="openSettings(widget)"><i class="glyphicon glyphicon-cog"></i></a>-->
              <a title="Remove widget" ng-show="widget.allowDelete" ng-click="vmmg.removeWidget(widget)"><i class="glyphicon glyphicon-remove"></i></a>
            </div>
          </div>
          <div class="box-content" ng-include="widget.partial">
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
