

<div ng-show="vmg.summaryChartConfig.showFCGrid"  width="100%" style="border-bottom:0px;border-left:0px;border-right:0px;border-top:0px;">
  <fieldset style="padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px; clear: both; margin-top: 15px; border-top-color: #82b1d2; border-right-color: #82b1d2; border-bottom-color: #82b1d2; border-left-color: #82b1d2; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid;">
    <legend style="font-size: 14px;font-weight:bold; background-color: rgb(255, 255, 255);border-bottom: 0px;margin-bottom: 0px;">Available </legend>
    <div id="fcMain" style="width:100%;height:100%;">
    <div style="padding-left:20px;padding-top:15px;width:100%;height:100%;padding-bottom: 15px;" id="fcGrid" >
    </div>
    </div>
  </fieldset>
</div>
