/* Left Nav */


#left-panel {
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  padding-top: 64px;
  transition: 250ms cubic-bezier(0.1,.57,.1,1);
  -webkit-transform: translate(0px,0) translateZ(0px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 904;
}


aside {
  display: block;
  background: #F7F7F7;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…BoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background: -moz-linear-gradient(left,#f7f7f7 93%,#cacaca 100%);
  background: -webkit-gradient(linear,left top,right top,color-stop(99%,#f7f7f7),color-stop(100%,#cacaca));
  background: -webkit-linear-gradient(left,#f7f7f7 99%,#cacaca 100%);
  background: -webkit-gradient(linear,top left,top right,from(#f7f7f7),to(#cacaca));
  background: -o-linear-gradient(left,#3a3633 93%,#2a2725 100%);
  background: -ms-linear-gradient(left,#3a3633 93%,#2a2725 100%);
  background: linear-gradient(to right,#f7f7f7 99%,#cacaca 100%);
  min-height: 100%;
}

nav ul {
  width: 100%;
  padding: 40px 28px 25px 0;
  padding: 0;
  margin: 0;
  font-size: 13px;
  line-height: .5em;
  list-style: none;
  position: relative;
}

#header>:first-child, aside {
  width: 220px;
}

nav>ul>li>a {
  padding-top: 16px;
  padding-bottom: 16px;
}
nav>ul>li>a>i {
  font-size: 25px!important;
}
nav ul li a {
  line-height: normal;
  font-size: 12px!important;
  padding: 10px 10px 10px 11px;
  color: #69737A!important;
  display: block;
  font-weight: 400;
  text-decoration: none!important;
  position: relative;
}
a:link{
  -webkit-tap-highlight-color: rgba(169,3,41,.5);
}

/* START: minified icons */

.minified #left-panel {
  padding: 0!important;
  padding-top: 50px!important;
}

.minified nav ul>li>a {
  padding: 12px 11px;
  display: block;
}
.minified nav>ul>li, .minified nav>ul>li a {
  position: relative;
}
.minified nav>ul>li {
  border-bottom: 1px solid #E6E6E6;
  border-top: 1px solid #FFF;
}
.minified nav>ul>li>a>i {
  font-size: 18px!important;
}
.minified #left-panel, .minified nav>ul>li {
  overflow: visible;
}
/* END: minified icons */




.minifyme {
  border-bottom: 1px solid #302F2F;
  background: #454545;
  color: #A8A8A8;
  text-align: center;
  padding: 0;
  width: 36px;
  height: 28px;
  display: block;
  position: absolute;
  right: 0;
  border-radius: 5px 0 0 5px;
  cursor: pointer;
  margin-top: 7px;
  font-size: 19px;
  transition: all .1s linear 0s;
}

.minified .minifyme {
  right: 0;
  color: #A8A8A8;
  position: relative;
  width: 100%;
  border-radius: 0;
  margin: 0;
  height: 34px;
  font-size: 23px;
}
/* End Left Nav */
