<aside id="left-panel" >
  <nav>
    <ul smart-menu>
<!--      <li ui-sref-active="active">
        <a  ui-sref="root.home" title="Home"><i class="fa fa-lg fa-fw fa-home"></i> <span
          class="menu-item-parent">Home</span></a>
      </li>-->
<!--      <li ui-sref-active="active">
        <a  ui-sref="root.home"><i class="fa fa-lg fa-fw fa-home"></i><span
          class="menu-item-parent">Home</span></a>
      </li>
      <li ui-sref-active="active">
        <a  ui-sref="root.dashboard"><i class="fa fa-lg fa-fw fa-tachometer"></i><span
          class="menu-item-parent">Dashboard</span></a>
      </li>
      <li ui-sref-active="active">
        <a  ui-sref="root.search"><i class="fa fa-lg fa-fw fa-search"></i><span
          class="menu-item-parent">Search</span></a>
      </li>-->

	  <!--<li ui-sref-active="active">
        <a ui-sref="root.nmv.search">
        <i class="fa fa-lg fa-fw fa-suitcase"></i><span
          class="menu-item-parent">Market View</span></a>
      </li> -->
      <li ui-sref-active="active">
        <a ui-sref="root.tpcalc.search">
          <i class="fa fa-lg fa-fw fa-calculator"></i><span
          class="menu-item-parent">Total Price Beta</span></a>
      </li>
<!--      <li ui-sref-active="active">
        <a ui-sref="root.websockets">
          <i class="fa fa-lg fa-fw fa-wechat"></i> <span
          class="menu-item-parent">Websockets Demo</span></a>
      </li>-->
    <!--  <li ui-sref-active="active">
        <a ui-sref="root.tpcomp">
          <i class="fa fa-lg fa-fw fa-bookmark"></i><span
          class="menu-item-parent">Total Price Comparison</span></a>
      </li> -->
    </ul>
  </nav>
  <span class="minifyme" data-action="minifyMenu" minify-menu>
    <i class="fa fa-arrow-circle-left hit"></i>
  </span>
</aside>
